@font-face {
  font-family: "BMEuljiro10yearslater";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.onboarding-container {
  text-align: center;
  margin-top: 200px;
  font-family: "BMEuljiro10yearslater", sans-serif;
  font-weight: normal;
}

.onboarding-container h1 {
  font-size: 60px;
  color: #2e4d3f;
}

.onboarding-container p {
  margin-top: 16px;
  color: #666;
  font-size: 16px;
}
