#app {
  margin: 0 auto;
  background-color: #ffffff; 
  min-height: 100vh;
}

/* 모바일 화면에서는 너비를 100%로 덮어쓰기 */
@media (max-width: 420px) {
  #app {
    width: 100%;
    max-width: 100%;
    margin: 0; 
  }
}